* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../Assets/mainbackground.jpg)repeat fixed 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#mainNav {
    background: linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);
}

#logo{
    border-radius: 10% 50% 50% 10%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.3));
    color: white;
    text-shadow: 2px 2px 10px black, 0 0 25px grey , 0 0 15px darkblue;
    padding: 10px;
}

#logo:hover {
    transition: 0.5 ease;
    transform: translateX(5px);
    color: white;
    font-size: 28px;
}

#navBar a:hover {
    border: radius 10px;
    background: linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);
    font-size: 28px;
    color: white;
    transition: 0.5 ease;
    transform: translateX(5px);
}

.myafya {
    display: inline-block;
    align-items: center;
    padding-top: 15rem;
    text-shadow: 2px 2px 10px black, 0 0 25px grey, 0 0 15px darkblue;
}

.container h2 {
    margin: 90px;
    margin-left: -67px;
    font-size: 30px;
}

.about h1 {
    text-align: center;
    padding-top: 70px;
}

.col p {
    margin-left: 50px;
    margin-top: 90px;
}

.card {
    background-image: url(/Assets/about_us/jonathan-borba-v_2FRXEba94-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 35%;
    border-radius: 150px;
    margin-left: 200px;
}

.stats h1 {
    text-align: center;
    padding-top: 70px;
}

.stats .row {
    width: 100%;
    padding-top: 70px;
}

.row img {
    margin-left: 220px;
}

.services h1 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.row-1 {
    padding-top: 70px;
}

.card-1 {
    background-image: url(/Assets/services/bill-oxford-8u_2imJaVQs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 30vh;
    margin-left: 70px;
    border-radius: 30px;
    padding-bottom: 70px;
}

.card-2 {
    background-image: url(/Assets/services/camilo-jimenez-vGu08RYjO-s-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 30vh;
    margin-left: 70px;
    border-radius: 30px;
    padding-bottom: 70px;
}

.box-1 {
    background-image: url(/Assets/services/adhy-savala-zbpgmGe27p8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 30vh;
    margin-left: 70px;
    border-radius: 30px;
    padding-bottom: 70px;
}

.box-2 {
    background-image: url(/Assets/services/pexels-anna-shvets-4225880.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 30vh;
    margin-left: 70px;
    border-radius: 30px;
    padding-bottom: 70px;
}

.card-1 h2 {
    padding-top: 220px;
    padding-left: 30px;
    color: white;
}

.card-2 h2 {
    padding-top: 220px;
    padding-left: 30px;
    color: white;
}

.box-1 h2 {
    padding-top: 220px;
    padding-left: 30px;
    color: white;
}

.box-2 h2 {
    padding-top: 220px;
    padding-left: 30px;
    color: white;
}

.image1:hover.overlay1 {
    opacity: 1;
}

.card-2b {
    width: 92vw;
    height: 30vh;
    background-image: url(/Assets/consultation/antonella-vilardo-dwXetPzJWs8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
}

.card-2b h2 {
    padding-top: 200px;
}

.card-2b li a {
    list-style: none;
    text-decoration: white;
    color: white;
}

#footer {
    background: linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);
    margin-top: 50px;
}