.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../Assets/mainbackground.jpg)repeat fixed 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-key {
    position: absolute;
    right: 0;
}

.symptoms {
    background-color: #bebbbb;
}

.list-items {
    padding: 10px;
}

.symptoms form label {
    width: 100px;
}

.symptoms form input {
    width: 500px;
    background-color: #bebbbb;
    border-color: #bebbbb;
}

.nav-item {
    padding-right: 5rem;
}

.nav-item a {
    color: white;
    font-weight: 500;
}

.nav-brand {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.symptoms form textarea {
    width: 500px;
    background-color: #bebbbb;
    border-color: #bebbbb;
}

.submit {
    border-radius: 5px;
    background-image: linear-gradient(#bebbbb, white)
}

.symptoms form {
    background-color: white;
    width: 55rem;
    height: 27rem;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 2rem;
}

.symptoms h1 {
    font-size: 1.5rem;
}

.textarea {
    height: 3rem;
}