.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../Assets/mainbackground.jpg)repeat fixed 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#mainNav {
    background: linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);
}

#logo {
    border-radius: 10% 50% 50% 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    color: white;
    text-shadow: 2px 2px 10px black, 0 0 25px grey, 0 0 15px darkblue;
    padding: 10px;
}

#logo:hover {
    transition: 0.5 ease;
    transform: translateX(5px);
    color: white;
    font-size: 28px;
}

#navBar a:hover {
    border: radius 10px;
    background: linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);
    font-size: 28px;
    color: white;
    transition: 0.5 ease;
    transform: translateX(5px);
}

.myafya {
    display: inline-block;
    align-items: center;
    padding-top: 15rem;
    text-shadow: 2px 2px 10px black, 0 0 25px grey, 0 0 15px darkblue;
}

.symptoms {
    background-color: #bebbbb;
}

.list-items {
    padding: 10px;
}

.symptoms form label {
    width: 100px;
}

.symptoms form input {
    width: 500px;
    background-color: #bebbbb;
    border-color: #bebbbb;
}

.nav-item {
    padding-right: 5rem;
}

.nav-item a {
    color: white;
    font-weight: 500;
}

.nav-brand {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.symptoms form textarea {
    width: 500px;
    background-color: #bebbbb;
    border-color: #bebbbb;
}

.submit {
    border-radius: 5px;
    background-image: linear-gradient(#bebbbb, white)
}

.symptoms form {
    background-color: white;
    width: 55rem;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 2rem;
}

.symptoms h1 {
    font-size: 1.5rem;
}

.textarea {
    height: 3rem;
}

.form-selection {
    height: fit-content
}

.symptoms-selections {
    display: none;
}